@charset "utf-8";
@import url('reset.css');

html {
  background-color: #fff;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  color: #000;
}
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#wrap {
  position: absolute;
  width: 100%;
  max-width: 1800px;
  min-height: 100%;
  overflow: hidden;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#container {
  position: relative;
  width: 100%;
  min-height: 100%;
}

#footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  color: #fff;
  width: 100%;
}

.loading {
  background: url('../img/loading4.gif') no-repeat;
  background-position: center;
  background-size: cover;
  width: 5rem;
  height: 5rem;
  z-index: 999;
}
